<?xml version="1.0" encoding="UTF-8" ?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.librarysimplified.audiobook.demo.main_ui"
  android:versionCode="4"
  android:versionName="0.0.4">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.BROADCAST_STICKY" />

  <application
    android:allowBackup="false"
    android:icon="@drawable/example_icon"
    android:theme="@style/AudioBooksWithActionBar"
    android:label="@string/exAppName">

    <activity
      android:name="org.librarysimplified.audiobook.demo.main_ui.ExampleConfigurationActivity"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:exported="true">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name="org.librarysimplified.audiobook.demo.main_ui.ExamplePlayerActivity"
      android:configChanges="orientation|keyboardHidden|screenSize" />

  </application>

</manifest>
