<?xml version="1.0" encoding="UTF-8" ?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.nypl.audiobook.demo.android.with_api"
  android:versionCode="1"
  android:versionName="0.0.1">

  <uses-sdk
    android:minSdkVersion="19"
    android:targetSdkVersion="27" />

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

  <application
    android:allowBackup="false"
    android:label="@string/app_name"
    android:icon="@drawable/icon">

    <activity
      android:name=".InitialActivity"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:exported="true">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".PlayerActivity"
      android:configChanges="orientation|keyboardHidden|screenSize" />

  </application>

</manifest>